$bgColor:#ffffff;


nav {
    box-shadow: none;
    font-family: "Noe Display Bold"; 
    background-color: $bgColor;
  .nav-wrapper{
      border: none;
        .brand-logo{
            padding:10px 0px 10px 120px;
            font-size: 27px;
            font-family: "Noe Display Bold"; 
            font-weight: 700;
        }
        span{
            color:#cc3333  ;
        }
  }
  ul {
    padding:0px 150px 0px 0px;
      a{
        color: #000;
        font-size: 17px;
        padding: 10px 50px 10px 50px;
      }    
  }

}

nav .sidenav-trigger i {
  margin-top: 10px;
}
.sidenav{
  font-family: "Noe Display Bold"; 
  width: 200px;
  .brand-logo{
    padding:10px 20px 10px 20px;
    font-size: 25px;
    font-family: "Noe Display Bold"; 
    font-weight: 700;
}
span{
    color:#cc3333  ;
}
}
h5
{
    font-size: 1.44rem;
    font-weight: 600;
    font-family: "Noe Display Bold"; 
}
.sidenews{
    margin: 0px 10px 0px 10px!important;
}
.mainnews{
    margin: 0px 20px 0px 50px!important;
}



.sidestyle{
    padding: 15px;
    
  .divider {
        height: 0px;
        background-color: none;
    }
    

}
.sidestyle:nth-child(odd) {
    background: #ffeead;
    a{
        color: #000;
    }
    
  }
  .sidestyle:nth-child(2n+0) {
    background: #F5B7B1;
    a{
        color: #000;
    }
  }
  .sidestyle:nth-child(3n+0) {
    background: #8d9db6;
  }
  .sidestyle:nth-child(5n+0) {
    background: #484f4f;
    a{
        color:#ECF0F1 ;
    }
  }

  .card{
    .card-content {
        height: 100px;
        background:#E5E7E9 ;
        padding: 7px 14px 20px 14px;
        color: #484f4f;
        font-weight: bold;
        overflow: auto;  
    }
     
  }

.sidestyle{
  .section h5{
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
  }
}

  // <div class="single-portfolio" style="max-height:300px;max-width:400px;overflow: hidden;">

  // <img style="height:300px;width:400px;" class="img-responsive"  src="gallery/'.$folderName.'/'.$itemNum.'.jpg" alt="One" />



  .page-footer {
    padding: 0px;
    color: #000;
    background-color: #fff;
}
  .footer-row{
      margin-bottom: 0px!important;
  }
  .aboutme{
      p{
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
      }
    .name a {
        span{
            color:#cc3333  ;
        }
        text-decoration: none;
        color: #161617;
        letter-spacing: .00875em;
        font-size: 25px;
        font-weight: 900;
        font-family: "Noe Display Bold"; 
    }
    .footer-bar a{
       
        color: #000;
    }
    .footer-bar .fa {
        padding: 10px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px;
        
    }
        
  }
  .plaincard{
    .card-content p{
      padding: 10px;
    }
   
  }

  
  @media (min-width: 10px) and (max-width: 992px) {

    .barlogo{
      display: none!important;
    }
  }
  
 
  @media (min-width: 1450px) and (max-width: 1990px) {

    .card .card-image img {
      height: 180px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1449px) {

    .card .card-image img {
      height: 160px;
    }
  }

  @media (min-width: 950px) and (max-width: 1199px) {

    .card .card-image img {
      height: 125px;
    }
    .card .card-content p {
      font-size: 13.5px;
  }
  }

  @media (min-width: 700px) and (max-width: 949px) {

    .card .card-image img {
      height: 95px;
    }
    .card .card-content {
      padding: 7px 10px 10px 10px;
    }
    .card .card-content p {
      font-size: 12px;
  }
  }
  @media (min-width: 601px) and (max-width: 699px) {

    .card .card-image img {
      height: 75px;
    }
    .card .card-content {
      padding: 7px 10px 10px 10px;
    }
    .card .card-content p {
      font-size: 11px;
  }
  }
  @media (min-width: 460px) and (max-width: 600px) {

    .card .card-image img {
      height: 150px;
    }
    .card .card-content {
      padding: 7px 13px 10px 13px;
    }
    .card .card-content p {
      font-size: 13px;
  }
  
  }
  @media (min-width: 301px) and (max-width: 459px) {

    .card .card-image img {
      height: 110px;
    }
    .card .card-content {
      padding: 7px 13px 10px 13px;
    }
    .card .card-content p {
      font-size: 12px;
  }
  }

  /* And other times this */
@media (min-width: 768px) and (max-width: 1090px) {

  .sidenews{
    margin: 0px 10px 0px 0px!important;
}
.mainnews{
    margin: 0px 20px 0px 30px!important;
}
}

@media (min-width: 601px) and (max-width: 767px) {

  .sidenews{
    margin: 0px 0px 0px 0px!important;
}
.mainnews{
    margin: 0px 20px 0px 20px!important;
}
}
@media (min-width: 300px) and (max-width: 600px) {

  .sidenews{
    margin: 0px 0px 0px 20px!important;
}
.mainnews{
    margin: 0px 20px 0px 20px!important;
}
.aboutme p {
  font-size: 15px;
}
.aboutme .name a {
  font-size: 22px;
}
}

@media (min-width: 100px) and (max-width: 299px) {

  .aboutme p {
    font-size: 15px;
  }
  .aboutme .name a {
    font-size: 18px;
  }

  .sidenews{
    margin: 0px 5px 0px 10px!important;
}
.mainnews{
    margin: 0px 10px 0px 10px!important;
}
nav .nav-wrapper .brand-logo {
  padding: 10px 0px 10px 10px;
}
.card .card-image img {
  height: 65px;
}

}
// @media (min-width: 200px) and (max-width: 499px) {
//   .sidenews{
//     margin: 0px 0px 0px 0px!important;
// }
// .mainnews{
//     margin: 0px 20px 0px 20px!important;
// }
// }


@media (min-width: 288px) and (max-width: 992px) {

  nav .nav-wrapper .brand-logo {
    padding: 10px 0px 10px 0px;
  }
}
